In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_excel('Studi kasus.xls')

In [3]:
data

   Kejadian    Cuaca Temperatur Kelembaban Berangin Bermain
0        K1  Berawan      Panas     Tinggi    Tidak      Ya
1        K2  Berawan     Dingin     Normal       Ya      Ya
2        K3  Berawan     Hangat     Tinggi       Ya      Ya
3        K4  Berawan      Panas     Normal    Tidak      Ya
4        K5    Hujan     Hangat     Tinggi    Tidak      Ya
5        K6    Hujan     Dingin     Normal    Tidak      Ya
6        K7    Hujan     Dingin     Normal       Ya   Tidak
7        K8    Hujan     Hangat     Normal    Tidak      Ya
8        K9    Hujan     Hangat     Tinggi       Ya   Tidak
9       K10    Cerah      Panas     Tinggi    Tidak   Tidak
10      K11    Cerah      Panas     Tinggi       Ya   Tidak
11      K12    Cerah     Hangat     Tinggi    Tidak   Tidak
12      K13    Cerah     Dingin     Normal    Tidak      Ya
13      K14    Cerah     Hangat     Normal       Ya      Ya

In [4]:
data.shape

(14, 6)

# Tahap 1 #

- Definisikan dahulu fitur x-0 sampai dengan x-n<br>
- Jika k15 Cuaca = Cerah

In [7]:
data['Bermain'].value_counts()

Ya       9
Tidak    5
Name: Bermain, dtype: int64

In [8]:
Bermain_Ya = 9/14
Bermain_Tidak = 5/14
print(Bermain_Ya)
print(Bermain_Tidak)

0.6428571428571429
0.35714285714285715

# Tahap 2 #

- Definisikan dahulu fitur x-0 sampai dengan x-n<br>
- Jika k15 Cuaca = Cerah

In [9]:
pd.crosstab(data['Cuaca'], data['Bermain'])

Bermain  Tidak  Ya
Cuaca
Berawan      0   4
Cerah        3   2
Hujan        2   3

In [10]:
Cuaca_Cerah_Ya = 2/9
Cuaca_Cerah_Tidak = 3/5

# Tahap 2.1 #

- Definisikan dahulu fitur x-0 sampai dengan x-n<br>
- Jika k15 Cuaca = Cerah

In [11]:
pd.crosstab(data['Temperatur'], data['Bermain'])

Bermain     Tidak  Ya
Temperatur
Dingin          1   3
Hangat          2   4
Panas           2   2

In [12]:
Temperatur_Dingin_Ya = 3/9
Temperatur_Dingin_Tidak = 1/5

In [13]:
pd.crosstab(data['Kelembaban'], data['Bermain'])

Bermain     Tidak  Ya
Kelembaban
Normal          1   6
Tinggi          4   3

In [14]:
Kelembaban_Tinggi_Ya = 3/9
Kelembaban_Tinggi_Tidak = 4/5